[include]
    path = ~/.gitconfigemail

[alias]
    l = log --graph --oneline --max-count=10
    ll = log --graph --oneline
    lla = log --graph --oneline --all

    co = checkout

    stat = status

[editor]
    editor = vim
